<form action="/" method="POST">
  <textarea
    name="code"
    id="code"
    cols="30"
    rows="10"
    placeholder="Share your snippet here!"
  ></textarea>
  <button role="submit" style="display: block">Save</button>
</form>
